<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @type.name %></title>
  </head>
  <body>
    <br>
    <a href="<%=bands_url%>"><<--Back to Index</a>
    <h1><%= @type.name %></h1>
    <form action="<%= edit_band_url(@type) %>" method="get">
      <input type="submit" name="edit_band" value="Edit">
      <%= authenticate %>
    </form>
    <form action="<%= band_url(@type) %>" method="post">
      <input type="submit" name="remove_band" value="Remove Band">
      <%= authenticate %>
    </form>
    <form action="<%= new_band_album_url(@type)%>" method="get">
      <%= authenticate %>
      <input type="submit" name="add_album" value="Add an Album">
    </form>
    <p>
      <%= "#{@type.description}" %>
    </p>

    <a href="<%= _albums_url(@type)%>">See All Albums</a>



  </body>
</html>
