<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Album</title>
  </head>
  <body>
    <br>
    <%= main_index %>
    <h1>Edit <%= @album.name %></h1>
    <form action="<%= album_url(@album) %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <%= authenticate %>

      <label for="album[name]">Album Name</label>
      <input type="text" name="album[name]" value="<%= @album.name %>">

      <br><br>

      <select name="album[band_id]">
        <% Band.all.each do |band| %>
          <option
            <%= @album.band_id == band.id ? "selected" : "" %>
            value="<%= band.id %>">
            <%= band.name%>
          </option>
        <% end %>
      </select>

      <br><br>

      <label for="album[record_type]">Studio</label>
      <input
        <%= @album.record_type == "Studio" ? "checked" : "" %>
        type="radio"
        name="album[record_type]"
        value="Studio">

      <label for="album[record_type]">Live</label>
      <input
        <%= @album.record_type == "Live" ? "checked" : "" %>
        type="radio"
        name="album[record_type]"
        value="Live">

      <br><br>

      <input type="submit" name="update_album" value="Edit">
    </form>

  </body>
</html>
