<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @album.name %></title>
  </head>
  <body>
    <br>
    <%= main_index %>
    <h1><%= @album.name %></h1>

    <form action="<%= edit_album_url(@album) %>" method="get">
      <%= authenticate %>

      <input type="submit" name="edit_album" value="Edit">
    </form>

    <form action="<%= album_url(@album) %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <%= authenticate %>

      <input type="submit" name="remove_album" value="Remove Album">
    </form>

    <form action="new" method="post">

    </form>

    <% @album.tracks.each do |track| %>
      <a href="<%= track_url(track) %>"><%= track.name %></a>
    <% end %>

    <br>

    <a href="<%= band_albums_url(@album.band_id)%>">See All Albums</a>



  </body>
</html>
