<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Band</title>
  </head>
  <body>
    <br>
    <%= main_index %>
    <h1>Add a Band</h1>
    <form action="<%= band_url(@band) %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <%= authenticate %>
        <label for="band[name]">Name</label>
        <input type="text" name="band[name]" value="<%= @band.name %>"><br><br>

        <label for="band[description]">Description</label><br>
        <textarea name="band[description]" rows="8" cols="20"><%=@band.description%></textarea>

        <input type="submit" name="create_band" value="Edit">
    </form>
  </body>
</html>
