<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @band.name %></title>
  </head>
  <body>
    <br>
    <%= main_index %>
    <h1><%= @band.name %></h1>
    <form action="<%= edit_band_url(@band) %>" method="get">
      <input type="submit" name="edit_band" value="Edit">
      <%= authenticate %>
    </form>
    <form action="<%= band_url(@band) %>" method="post">
      <input type="submit" name="remove_band" value="Remove Band">
      <%= authenticate %>
    </form>
    <form action="<%= new_band_album_url(@band)%>" method="get">
      <%= authenticate %>
      <input type="submit" name="add_album" value="Add an Album">
    </form>
    <p>
      <%= "#{@band.description}" %>
    </p>

    <p><strong>Albums:</strong></p>
    <ul>
      <% @band.albums.each do |album| %>
        <li><a href="<%= album_tracks_url(album) %>"><%= album.name %></a></li>
      <% end %>
    </ul>

    <a href="<%= band_albums_url(@band)%>">See All Albums</a>



  </body>
</html>
